﻿<%@ Page Language="C#" AutoEventWireup="true"  validateRequest="false" ResponseEncoding="UTF-8"%>
<script language="c#" runat="server">
public void Page_Load(object sender, EventArgs e)
{
    KTDS.Server.Web.Controller.ControllerSvc(this.Request, this.Response, this.Context, "H");
}
</script>